@model HomeShare.Models.BiensViewModel

<style>
    .container-custo {
        width: 90%;
        margin: auto;
        margin-top: 1%;
    }

    .bien-custo {
        display: flex;
        border: 1px solid black;
        justify-content: space-between;
        margin-bottom: 1%;
        align-items: center;
        padding-left: 1%;
        padding-right: 1%;
    }

    .item-bien {
        width: 15%;
    }

    .item-img {
        width: 100%;
        object-fit: contain;
    }
</style>

<!-- banner -->
<div class="inside-banner">
    <div class="container">
        <span class="pull-right"><a href="/Home/Index">Home</a> / Parcourir tous les biens</span>
        <h2>Parcourir tous les biens</h2>
    </div>
</div>
<!-- banner -->


<div class="container-custo">
    @foreach (HomeShare.Models.BienAEchangerModel item in Model.TousLesBiens)
    {
        if (item.IsEnabled == true)
        {
        <div class="bien-custo">
            <div class="item-bien">@item.Titre</div>
            <div class="item-bien"><img class="item-img" src="@item.Photo" /></div>
            <div class="item-bien">@item.DescCourte</div>
            <div class="item-bien">Pour @item.NombrePersonne personnes</div>
            <div class="item-bien">
                <div><img src="@item.Drapeau" /></div>
                <div>@item.NomPays</div>
            </div>
            <a href="@Url.Action("Fiche", "Home", new { idBien = item.IdBien })">Sélectionner ce bien</a>
        </div>
        }
    }
</div>
@{
    Html.RenderPartial("~/Views/Shared/_paginate.cshtml", new ViewDataDictionary { { "MaxPage", Model.MaxPage } });
}