@model HomeShare.Models.BiensViewModel

<!-- banner -->
<div class="inside-banner">
    <div class="container">
        <span class="pull-right"><a href="/Home/Index">Home</a> / Parcourir tous les biens</span>
        <h2>Parcourir tous les biens</h2>
    </div>
</div>
<!-- banner -->


<div class="container-custo" style="width:90%;margin:auto;margin-top:1%;">
    @foreach (HomeShare.Models.BienAEchangerModel item in Model.TousLesBiens)
    {
        <div class="bien-custo" style="display:flex;border:1px solid black;justify-content:space-between;margin-bottom: 1%;align-items:center;padding-left:1%;padding-right: 1%;">
            <div style="width:15%;">@item.Titre</div>
            <div style="width:15%;"><img style="width:100%; object-fit: contain;" src="@item.Photo" /></div>
            <div style="width:15%;">@item.DescCourte</div>
            <div style="width:15%;">Pour @item.NombrePersonne personnes</div>
            <div style="width:15%;">
                <div><img src="@item.Drapeau" /></div>
                <div>@item.NomPays</div>
            </div>
            <a href="@Url.Action("Fiche", "Home", new { idBien = item.IdBien })">Sélectionner ce bien</a>
        </div>
    }
</div>
@{
    Html.RenderPartial("~/Views/Shared/_paginate.cshtml", new ViewDataDictionary { { "MaxPage", Model.MaxPage } });
}