@model HomeShare.Models.FicheViewModel
@{
    ViewBag.Title = "Fiche";
}

<div class="inside-banner">
    <div class="container">
        <span class="pull-right"><a href="/Home/Index">Home</a> / @Model.Fiche.Titre</span>
    </div>
</div>

<div class="container-fiche-custo" style="display:flex">
    <div class="container-gauche-custo" style="width:70%;border:1px black solid;">
        <div class="info-biens" style="display:flex;background-color:lightgray;justify-content:space-between;padding:1%;">
            <div><img style="width: 150px;height:100px;" src="@Model.Fiche.Photo"/></div>
            <div style="display:flex;padding:1%;">
                <div>
                    @Model.Fiche.Titre
                    <br />
                    @Model.Fiche.NombrePersonnes personnes
                    <br />
                    Description&nbsp;:<br/>
                    <div style="border:1px solid black; background-color:lightblue;">@Model.Fiche.DescLongue</div>
                    Options&nbsp;:
                    Insérer options ici
                </div>
            <div style="padding: 1%;"><img src="@Model.Fiche.Drapeau" /></div>
         </div>
        </div>
        <div class="avis-biens" style="margin-top:1%;">
            @foreach (HomeShare.Models.AvisMembreModel item in Model.Fiche.AvisMembre)
            { <div class="avis-custo" style="background-color:gray;border:1px solid black;display:flex;">
                <div class="avatar-custo" style="width: 75px;height:75px;background-color:black;color:white;">Place pour avatar<br/>
                
                </div>
                <div class="main-avis">
                    <span style="background-color:white;">@item.Login</span> a a attribué la note de <span style="background-color:white;">@item.Note/10</span> details a écrit&nbsp:<br />
                    @item.Message
                </div>
            </div>
            }
        </div>
        <div class="laisser-avis">
            Donnez votre avis sur ce bien<br/>
            <form method="post"> @*action=/Membre/Home/LaisserAvis*@ 
            @*@Html.AntiForgeryToken()*@
            
            <div class="mt-10" style="width:10%;">
                <input type="number" name="Note" placeholder="Note" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Note'" required>
                @Html.ValidationMessageFor(model => model.AvisMembre.Note, "", new { @class = "text-danger" })
            </div>
            <div class="mt-10">
                <textarea name="Message" class="Message" placeholder="Votre avis" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Avis'" required></textarea>
                @Html.ValidationMessageFor(model => model.AvisMembre.Message, "", new { @class = "text-danger" })
            </div>
            <div class="mt-10">
                <button type="submit" class="genric-btn primary">Valider l'avis</button>
                
            </div>
        </form>
        </div> 
    </div>
    <div class="info-proprio" style="width: 30%;width:20%; margin:auto">
        <div>
            <div class="avatar-custo" style="width: 75px;height:75px;background-color:black;color:white;">
                Place pour avatar<br />
            </div>
            Nom et prénom du propriétaire&nbsp;: @Model.Fiche.NomDuProprio

        </div>
        <hr />
        <div><button>Échanger le bien</button></div>
        <hr />
        <div class="meteo-custo" style="width: 75px;height:75px;background-color:black;color:white;">
            Place pour météo à venir<br />
        </div>
    </div>
</div>



