@model HomeShare.Models.FicheViewModel
@{
    ViewBag.Title = "Fiche";
}

<div class="inside-banner">
    <div class="container">
        <span class="pull-right"><a href="/Home/Index">Home</a> / @Model.Fiche.Titre</span>
    </div>
</div>

<div class="container-fiche-custo" style="display:flex">
    <div class="container-gauche-custo" style="width:70%;border:1px black solid;">
        <div class="info-biens" style="display:flex;background-color:lightgray;justify-content:space-between;padding:1%;">
            <div><img style="width: 150px;height:100px;" src="@Model.Fiche.Photo"/></div>
            <div style="display:flex;padding:1%;">
                <div>
                    @Model.Fiche.Titre
                    <br />
                    @Model.Fiche.NombrePersonnes personnes
                    <br />
                    Description&nbsp;:<br/>
                    <div style="border:1px solid black; background-color:lightblue;">@Model.Fiche.DescLongue</div>
                    Options&nbsp;:
                    Insérer options ici
                </div>
            <div style="padding: 1%;"><img src="@Model.Fiche.Drapeau" /></div>
         </div>
        </div>
        <div class="avis-biens" style="margin-top:1%;">
            @foreach (HomeShare.Models.AvisMembreModel item in Model.Fiche.AvisMembre)
            { <div class="avis-custo" style="background-color:gray;border:1px solid black;display:flex;">
                <div class="avatar-custo" style="width: 75px;height:75px;background-color:black;color:white;">Place pour avatar<br/>
                
                </div>
                <div class="main-avis">
                    <span style="background-color:white;">@item.Login</span> a a attribué la note de <span style="background-color:white;">@item.Note/10</span> details a écrit&nbsp:<br />
                    @item.Message
                </div>
            </div>
            }
        </div>
    </div>
    <div class="info-proprio" style="width: 30%;border:1px black solid;">partie proprio</div>
</div>



