@model HomeShare.Models.MembreProfilModel
@{
    ViewBag.Title = "Mesbiens";
}

<!-- banner -->
<div class="inside-banner">
    <div class="container">
        <span class="pull-right"><a href="/Membre/Home">Zone Membre</a> / Mes biens</span>
        <h2>Parcourir tous les biens</h2>
    </div>
</div>
<!-- banner -->

<div class="container-zone-membre" style="display:flex;">
    <div class="list-container" style="display:flex;justify-content:space-between;width:70%;">
        <div>
            Titre du bien<br />
            @foreach (HomeShare.Models.BienAEchangerModel item in Model.ListeBiens)
            {
                @item.Titre<br />
            }
        </div>
        <div>
            Description courte<br />
            @foreach (HomeShare.Models.BienAEchangerModel item in Model.ListeBiens)
            {
                @item.DescCourte<br />
            }
        </div>
        <div>
            Date de création<br />
            @foreach (HomeShare.Models.BienAEchangerModel item in Model.ListeBiens)
            {
                @item.DateCreation<br />
            }
        </div>
        <div>
            Modifcation<br />
            @foreach (HomeShare.Models.BienAEchangerModel item in Model.ListeBiens)
            {
                @:<a href="#">Modifier</a><br />
                @*<a href="@Url.Action("ModifierBien", "Home", new { area = "Membre"}, new { idBien = item.IdBien })">Modifier</a>*@
            }
        </div>
        <div>
            Suppression<br />
            @foreach (HomeShare.Models.BienAEchangerModel item in Model.ListeBiens)
            {
                @:<a href="#">Supprimer</a><br />
                @*<a href="@Url.Action("SupprimerBien", "Home", new { area = "Membre"}, new { idBien = item.IdBien })">Modifier</a>*@

            }
        </div>

                </div>
                <div class="side-bar-zone-membre" style="width:30%;">
                    @{
                        Html.RenderPartial("~/Views/Shared/_infoProprio.cshtml");
                    }
                </div>

            </div>
